extends layout.pug

block content
    main
      .carousel.carousel-slider.center(data-indicators='true')
        .carousel-fixed-item.center
          a.btn.waves-effect.white.grey-text.darken-text-2(href='wquiz.html')
            i.material-icons edit
            |  Começar
        .carousel-item.green.white-text(href='#one!')
          h2 WQUIZ
          p.white-text Versão simulado
        .carousel-item.blue.white-text(href='#two!')
          h2 WQUIZ
          p.white-text Versão estudo
