doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    link(href='/img/favicon.ico', rel='shortcut icon')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='theme-color', content='#ffffff')
    title WQUIZ
  body
    header
      // Dropdown Structure
      ul#dropdown1.dropdown-content
        li
          a(href='#!') Login
        li.divider
        li
          a(href='#!') Cadastro

      nav
        .nav-wrapper
          ul#nav-mobile.left.hide-on-med-and-down
            li
                a(href='question-list.html') Questões
          a.brand-logo.center(href='index.html') Logo
          ul.right.hide-on-med-and-down
            li
                a.dropdown-button(href="#!" data-activates="dropdown1") Acesse
                    i.material-icons.right arrow_drop_down

    block content

    footer.page-footer
      .container
        .row
          .col.l6.s12
            h5.white-text Footer Content
            p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
          .col.l4.offset-l2.s12
            h5.white-text Download
            ul
                li
                    img(src="img/google-play-store_pt.png", width="220", height="50", alt="Baixe para o Android")
                li
                    img(src="img/app-store_pt.png", width="220", height="50", alt="Baixe para o Iphone")
                li
                    img(src="img/windows-store_pt.png", width="220", height="50", alt="Baixe para o WindowsPhone")

      .footer-copyright
        .container
          | © 2017 Copyright
          a.grey-text.text-lighten-4.right(href='#!') Walter Nascimento Barroso
    
    block scripts
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
        script(src='js/script.js')
