extends layout.pug

block content
    nav
        .nav-wrapper
            .col.s12
                a.breadcrumb(href='#!') Administração
                a.breadcrumb(href='question-list.html') Lista de Questões
                a.breadcrumb(href='#!') Nova Questão
    main.container.center-align
        .row
            .col.s12.m12
                .card
                    .card-content
                        span.card-title 
                            a(href="question-list.html")
                                i.material-icons.left.blue-text.text-accent-4 arrow_back
                            span Nova Questão
                        .row
                            //- form.col.s12
                            .row
                                .input-field.col.s10
                                    i.material-icons.prefix live_help
                                    input#question.validate(type='text')
                                    label(for='question') Questão
                                .input-field.col.s2
                                    button.btn.waves-effect.waves-light#createQuestion
                                        | Criar
                                    button.btn.waves-effect.waves-light.red.hide#deleteQuestion
                                        | Deletar
                            fieldset.hide
                                input(type="hidden")#secret
                                legend Respostas
                                .row
                                    .input-field.col.s6
                                        i.material-icons.prefix info_outline
                                        input#question.validate(type='text')
                                        label(for='answer') Resposta
                                    .switch.col.s4
                                        br
                                        br
                                        label
                                            | Falso
                                            input(type='checkbox')
                                            span.lever
                                            | Verdadeiro
                                    .col.s1
                                        br
                                        br
                                        i.material-icons.left.green-text.text-accent-4 add_circle_outline
                                    .col.s1
                                        br
                                        br
                                        i.material-icons.red-text.text-accent-4 delete_forever

                                a(href="question-list.html").btn.waves-effect.waves-light.white.black-text
                                    | Cancelar
                                    i.material-icons.right clear
                                button.btn.waves-effect.waves-light
                                    | Salvar
                                    i.material-icons.right add
    block append scripts
        script(src='https://www.gstatic.com/firebasejs/4.5.1/firebase.js')
        script(src='js/firebase-admin-create.js')
