extends layout.pug

block content
    main.container.center-align
      .row
        .col.s12.m12
          .card-panel.teal
            span.white-text.left 1 / 25
            span.white-text.right 12:00
          .card.blue-grey.darken-1
            .progress
              .determinate(style='width: 70%')
            .card-content.white-text
              span.card-title Questão
              p Respostas
            .card-action
              a.waves-effect.waves-light.btn.blue.darken-1(href='#') Anterior
              a.waves-effect.waves-light.btn.blue.darken-3(href='#') Proxima
              a.waves-effect.waves-light.btn.red(href='gameover.html') Finalizar
